html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, article, aside, footer, header, menu, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
    position: relative;
    min-height: 94vh;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
a, a:visited {
    text-decoration: none;
    outline: none;
}

/* VARIABLES */
:root {
    --bg_dark: #c4c4c4;
    --bg: #e6e6e688;
    --bg_ligth: #fcfcfc;
    --bg_gray: rgba(200, 200, 200, 0.5);

    --bg_button: rgba(255, 255, 255, 0.5);
    --bg_button_hover: rgba(255, 255, 255, 0.8);
    --border: 15px;

    --blue_light: rgba(3, 155, 229, 0.2);
    --blue: #039BE5;

    --red_light: #CC293620;
    --red: #CC2936;

    --yellow_light: #ffc80020;
    --yellow: #FF8A00;
}

/* GENERALES */
body{
    background: var(--bg_ligth);
}
main{
    margin: 0 auto;
    padding: 2em 1em;
    width: 70%;
    max-width: 900px;
    background: var(--bg);
    align-items: center;
    min-height: 89vh; 
}

.file-custom{
    color: transparent;
}
.file-custom::-webkit-file-upload-button {
    visibility: hidden;
}
.file-custom::before {
    content: 'Seleccionar el archivo';
    display: block;
    white-space: nowrap;
    padding: 8px 10px;
    max-width: 200px;
    margin: 0 auto;
}
button, .button, input[type="submit"], .file-custom::before{
    color: #323232;
    border: none;
    text-align: center;
    text-decoration: none;
    outline: 0 none;
    border-radius: var(--border);
    background: var(--bg_button);
}
.file-custom:hover, .file-custom:active, .file-custom:focus{
    outline: 0 none;
}
button:hover, .button:hover, input[type="submit"]:hover, .file-custom:hover::before{
    cursor: pointer;
    background: var(--bg_button_hover);
    box-shadow: 0px 3px 6px var(--bg_gray);
}
button:active, .button:active, input[type="submit"]:active{
    outline: 0 none;
}

/* TABLA */
table{
    width: 90%;
    margin: 2em auto;
    font-size: 18px;
    text-align: center;
    border-spacing: 0px 5px;
}
thead{
    background: var(--bg_dark);
    
}
tbody tr{
    background: var(--bg_gray);
}
td, th{
    padding: 5px;
}

/* FORMULARIO */
.formContainer{
    width: 90%;
    margin: 2em auto;
    font-size: 17px;
    padding: 5px 10px;
    border: 2px dashed var(--bg_dark);
    background: var(--bg_gray);
}
.flexColumn{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
    justify-content: space-evenly;
    margin: 7.5px 0px;
}
.flex label, .flex input{
    flex: 1 0;
    text-align: center;
}
#inputSubmit{
    max-width: 200px;
    padding: 10px;
}
/* TEXTO */
.lowConfidence{
    background: var(--red_light);
    color: var(--red);
}
.mediumConfidence{
    background: var(--red_light);
    color: var(--red);
}
[data-current]{
    text-decoration-line: underline;
    color: var(--blue);
}

/* FIXED */
#header, #audioContainer{
    position: fixed;
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--bg_dark);
}
#header button,#audioContainer button, #header .button, #audioContainer .button{
    margin: 0 10px;
    padding: 8px 10px;
}

/* MAIN */
main.fixeado{
    margin: 61px auto;
}
#root{
    margin: 0 auto;
    width: 85%;
}

/* HEADER */
#header{
    top: 0;
    padding: 7px 0;
}
.container{
    width: 90%;
    margin: 0px;
    justify-content: space-between;
}

/* AUDIO */
#audioContainer{
    bottom: 0;
}